@font-face {
    font-family: 'myFont';
    src: url('./Environment.otf');
}
* {
    font-family: 'myFont', sans-serif;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    background: url(./Kitchen.jpg) no-repeat center center fixed;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: darken;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    border-bottom: 2px solid rgb(118, 118, 118);
    background: rgb(0, 0, 0, 0.2);
}

nav button {
    font-size: 35px;
    color: aliceblue;
    background: none;
    border-style: none;
}

nav button:hover {
    cursor: pointer;
    border-bottom: 1px solid aliceblue;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    height: 50px;
    border-top: 2px solid rgb(118, 118, 118);
}
footer a {
    text-decoration: none;
    color:aliceblue
}
footer a:hover {
    border-bottom: 0.5px solid aliceblue;
}

.homeDiv {
    height: 200px;
    width: 100%;
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.homeTitle {
    font-size: 5rem;
    margin-bottom: -20px;
    margin-top: 0px;
}

.menuContent {
    display: flex;
    justify-content: center;
    margin: 40px 0px;
}

.menuDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.4);
    padding-bottom: 32px;
}

.menuTitle {
    font-size: 2.5rem;
    border-bottom: 0.5px solid aliceblue;
}

.menu {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 30px;
}

.n {
    font-size: 1.8rem;
    font-weight: bolder;
    margin-bottom: 7px;
}
.d {
    margin-bottom: 7px;
}
.p {
    position: relative;
    left: 100px;
}

.aboutContent {
    display: flex;
    justify-content: center;
    margin: 40px 0px;
}

.aboutDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px 50px 25px;
}

h1 {
    margin-bottom: -10px;
}

@media (max-width: 800px) {
    .homeTitle {
        font-size: 2.8rem;
    }
    .menuTitle {
        font-size: 1.2rem;
    }
}
